<ion-header>
  <ion-navbar>
    <ion-title text-center>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content center>
  <span *ngIf="home_stream.length>0">
    <div class="post-item" *ngFor="let post of home_stream;let i = index;">
      <div class="post-header">
        <ion-row class="">
          <ion-col col-2>
            <img [src]="post.author.pic" alt="" class="avatar-sm" />
          </ion-col>
          <ion-col col-4>
            <strong>{{post.author.name}}</strong>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div class="post-media">
        <ion-slides [pager]="post.files.length>1">
          <ion-slide *ngFor="let media of post.files">
            <img
              *ngIf="media.type.includes('image')"
              [src]="media.downloadURL"
            />
            <video
              *ngIf="media.type.includes('video')"
              [src]="media.downloadURL"
              type="media.type"
              width="400"
              autoplay
              loop
              controls
            ></video>
          </ion-slide>
        </ion-slides>
      </div>
      <div>
        <ion-row>
          <ion-col>
            <ion-buttons class="post-action">
              <button ion-button icon-only clear color="dark" (click)="like(i)">
                <ion-icon
                  style="font-size: 26px"
                  slot="icon-only"
                  name="heart-outline"
                ></ion-icon>
              </button>
              <button ion-button icon-only clear color="dark">
                <ion-icon
                  style="font-size: 26px"
                  slot="icon-only"
                  name="download"
                ></ion-icon
                ><ion-label *ngIf="post.price">$ {{post.price}}.00</ion-label>
              </button></ion-buttons
            >
          </ion-col>
        </ion-row>
      </div>

      <div class="post-stats" *ngIf="post.likes">
        <strong>{{post.likes}} likes</strong>
      </div>

      <div class="post-comments">
        <div class="comment-item">
          <span class="username"></span>{{post.description}}&nbsp;&nbsp;<span
            *ngIf="post.hashtags.length>0"
            ><span *ngFor="let hashtag of post.hashtags"
              ><a href="#" class="hash-tag">#{{hashtag}}</a>
            </span></span
          >
        </div>
      </div>
    </div>
  </span>
</ion-content>
